.rootBoard {
    width: 90vw;
    max-width: 90vh;
    height: 90vw;
    max-height: 90vh;

    box-shadow: 0px 0px 15px gray;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    

    .cage {
        
        display: flex;
        justify-content: center;
        align-items: center;
        

        svg {
            width: 90%;
            height: 90%;
        }
    }

    .blackCage {
        background-color: gray
    }
};